.heading
{
width: 100%;
text-align: left;
}

.start{
    width: 10%;
}

.modal{
    width: 100%;
}

.modal-body{
    text-align: left;
}

.list{
    font-size: 18px;
}

.instruction{
    float: right;
    border: 1px solid white;
}

.Goodluck{
    text-align: center;
    font-size: 20px;
}

.copy{
    background-color: #f5f5ff;
    color: black;
    font-size: 16px;
    position: sticky;
    line-height: 2;
    margin: 0;
    bottom: 0;
}